body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #FDFFFC;
  background-color: #1f1f1f;
}
body .response-msg {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  float: right;
  background-color: #379777;
  padding: 12px 18px;
  margin: 25px;
  border-radius: 8px;
  color: #FDFFFC;
  font-weight: 500;
  display: none;
}

.login-form-validation {
  width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login-form-validation form {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 15px;
}
.login-form-validation form input {
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #FDFFFC;
  background-color: transparent;
  color: #FDFFFC;
}
.login-form-validation form input::placeholder {
  font-size: 16px;
  color: #FDFFFC;
}
.login-form-validation form small {
  color: #c31a1d;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}

.forget-password a {
  text-decoration: none;
  color: #FDFFFC;
  float: right;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 20px 0;
}
.forget-password a:hover {
  color: #379777;
}

#login-btn {
  border: none;
  width: 100%;
  padding: 15px;
  background-color: #FDFFFC;
  border-radius: 10px;
  font-size: 16px;
  margin-bottom: 30px;
  box-shadow: 0 0 10px #fff;
}
#login-btn:hover {
  background-color: #379777;
  box-shadow: 0 0 10px #379777;
}

.continue-with {
  text-align: center;
  margin-bottom: 30px;
}
.continue-with span {
  display: block;
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 10px;
}
.continue-with .social-login {
  font-size: 35px;
  list-style: none;
  display: flex;
  gap: 15px;
  padding: 0;
  margin: 0;
  justify-content: center;
}
.continue-with .social-login .social:hover {
  color: #379777;
}

.new-user {
  text-align: center;
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.new-user a {
  text-decoration: none;
  color: #379777;
  font-weight: 500;
}
.new-user a:hover {
  color: #FDFFFC;
}