$primary-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$dark-col: #151515;
$light-col: #FDFFFC;
$primary-col: #2EB086;
$danger-col: #c31a1d;
$warning-col:#F4CE14;
// $secondary-col:;
// $success-col:;